<a href="https://colab.research.google.com/github/y109240/dataAnalysis/blob/main/%E1%84%83%E1%85%A6%E1%84%8B%E1%85%B5%E1%84%90%E1%85%A5%E1%84%87%E1%85%AE%E1%86%AB%E1%84%89%E1%85%A5%E1%86%A8_%E1%84%80%E1%85%A9%E1%86%BC%E1%84%80%E1%85%A9%E1%86%BC%E1%84%83%E1%85%A6%E1%84%8B%E1%85%B5%E1%84%90%E1%85%A5_%E1%84%8B%E1%85%A7%E1%86%AB%E1%84%85%E1%85%A7%E1%86%BC%E1%84%83%E1%85%A2%E1%84%87%E1%85%A7%E1%86%AF%E1%84%8B%E1%85%B5%E1%86%AB%E1%84%80%E1%85%AE%E1%84%92%E1%85%A7%E1%86%AB%E1%84%92%E1%85%AA%E1%86%BC%E1%84%87%E1%85%AE%E1%86%AB%E1%84%89%E1%85%A5%E1%86%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 한글폰트 설정 및 라이브러리 임포트

In [2]:
# 코드 실행 후 재시작
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 45 not upgraded.
Need to get 10.3 MB of archives.
After this operation, 34.1 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 fonts-nanum all 20200506-1 [10.3 MB]
Fetched 10.3 MB in 2s (6,480 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 121752 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20200506-1_all.deb ...
Unpacking fonts-nanum (20200506-1) ...
Setting up fonts-nanum (20200506-1) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 12 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

# 필요한 라이브러리 import

In [1]:
# macOS에서 한글 적용하기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import warnings
fe = fm.FontEntry(fname='r/usr/share/fonts/truetype/nanum/NanumGothic.ttf', name="NanumGothic")
fm.fontManager.ttflist.insert(0, fe)
plt.rcParams.update({'font.size':13, 'font.family':'NanumGothic'})

# 2024년 연령대별 현황
 - 2024년 연령대별 인구수 확인하기
 - https://jumin.mois.go.kr/#  연령별 인구현황 > 연령 구분 단위를 1세로 변경해서 조회하기

## 파일 읽어서 데이터프레임 생성하기

In [2]:
filename = '202403_202403_연령별인구현황_월간.csv'
df = pd.read_csv(filename, encoding='cp949')
df

,행정구역,2024년03월_계_총인구수,2024년03월_계_연령구간인구수,2024년03월_계_0세,2024년03월_계_1세,2024년03월_계_2세,2024년03월_계_3세,2024년03월_계_4세,2024년03월_계_5세,2024년03월_계_6세,...,2024년03월_여_91세,2024년03월_여_92세,2024년03월_여_93세,2024년03월_여_94세,2024년03월_여_95세,2024년03월_여_96세,2024년03월_여_97세,2024년03월_여_98세,2024년03월_여_99세,2024년03월_여_100세 이상
0,전국 (0000000000),"51,293,934","51,293,934","220,719","249,583","264,689","275,585","300,207","327,046","356,089",...,"47,354","37,054","27,964","22,769","16,916","12,154","8,109","5,114","3,252","7,214"
1,서울특별시 (1100000000),"9,384,739","9,384,739","36,904","40,232","42,550","43,198","46,125","49,533","53,402",...,"6,555","5,233","3,976","3,343","2,545","1,850","1,270",731,534,"1,154"
2,부산광역시 (2600000000),"3,287,292","3,287,292","12,149","14,068","15,074","15,438","17,162","18,984","21,253",...,"2,717","2,210","1,463","1,256","1,014",803,447,319,178,375
3,대구광역시 (2700000000),"2,369,962","2,369,962","9,170","10,495","11,464","11,876","13,618","14,876","16,667",...,"2,028","1,605","1,194",886,659,468,305,180,103,232
4,인천광역시 (2800000000),"3,006,045","3,006,045","13,719","15,887","16,561","17,280","18,692","20,372","21,305",...,"2,357","1,807","1,481","1,121",912,612,440,305,203,387
5,광주광역시 (2900000000),"1,415,774","1,415,774","5,885","7,190","7,905","8,119","8,999","9,695","10,804",...,"1,075",796,684,581,387,240,187,121,73,181
6,대전광역시 (3000000000),"1,441,689","1,441,689","6,959","7,866","7,925","7,863","8,442","9,305","10,151",...,"1,049",866,633,567,381,280,179,122,76,176
7,울산광역시 (3100000000),"1,101,336","1,101,336","4,812","5,323","5,984","6,310","7,026","7,666","8,594",...,620,491,328,272,204,152,123,67,39,75
8,세종특별자치시 (3600000000),"387,411","387,411","2,558","3,109","3,530","3,683","4,021","4,490","4,892",...,257,178,152,114,103,63,43,24,14,35
9,경기도 (4100000000),"13,642,451","13,642,451","66,459","76,419","80,128","83,179","89,779","97,519","105,225",...,"9,673","7,389","5,827","4,732","3,617","2,629","1,731","1,128",717,"1,506"
10,강원특별자치도 (5100000000),"1,524,198","1,524,198","6,418","7,372","7,500","7,926","8,556","8,748","9,524",...,"1,850","1,539","1,222",995,791,559,386,250,172,315
11,충청북도 (4300000000),"1,591,044","1,591,044","7,245","7,635","8,306","8,599","9,020","10,378","11,174",...,"1,881","1,377","1,058",844,616,415,296,189,118,230
12,충청남도 (4400000000),"2,132,745","2,132,745","9,204","10,334","11,266","12,116","13,205","14,159","15,605",...,"3,173","2,349","1,616","1,330","1,021",703,453,281,178,439
13,전북특별자치도 (5200000000),"1,749,376","1,749,376","6,432","7,107","7,595","8,266","8,979","9,890","11,123",...,"2,669","2,174","1,575","1,263",934,741,463,237,147,424
14,전라남도 (4600000000),"1,798,435","1,798,435","7,480","8,000","8,414","8,955","9,946","10,465","11,265",...,"3,043","2,562","1,991","1,679","1,008",675,540,325,224,525
15,경상북도 (4700000000),"2,546,960","2,546,960","9,700","10,994","11,610","12,157","13,460","15,083","16,110",...,"3,902","2,928","2,155","1,689","1,250",915,577,373,223,522
16,경상남도 (4800000000),"3,241,374","3,241,374","12,560","13,998","15,048","16,479","18,485","20,700","23,298",...,"3,666","2,903","2,135","1,680","1,201",844,552,367,199,378
17,제주특별자치도 (5000000000),"673,103","673,103","3,065","3,554","3,829","4,141","4,692","5,183","5,697",...,839,647,474,417,273,205,117,95,54,260

## 데이터 속성을 탐색

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Columns: 310 entries, 행정구역 to 2024년03월_여_100세 이상
dtypes: int64(2), object(308)
memory usage: 43.7+ KB

## 데이터 전처리

### 행정구역을 인덱스로 설정하기

In [12]:
df.index

RangeIndex(start=0, stop=18, step=1)

In [11]:
# 열 이름 간단하게 자르기
df_columns = []
for i in range(len(df.columns)):
  if i == 0:
    df_columns.append('행정구역')
  else:
    df_columns.append(df.columns[i][df.columns[i].find('_') +1:])

df.columns = df_columns
df.columns

Index(['행정구역', '계_총인구수', '계_연령구간인구수', '계_0세', '계_1세', '계_2세', '계_3세', '계_4세',
       '계_5세', '계_6세',
       ...
       '여_91세', '여_92세', '여_93세', '여_94세', '여_95세', '여_96세', '여_97세', '여_98세',
       '여_99세', '여_100세 이상'],
      dtype='object', length=310)

In [15]:
df.head(2)

,행정구역,계_총인구수,계_연령구간인구수,계_0세,계_1세,계_2세,계_3세,계_4세,계_5세,계_6세,...,여_91세,여_92세,여_93세,여_94세,여_95세,여_96세,여_97세,여_98세,여_99세,여_100세 이상
0,전국 (0000000000),"51,293,934","51,293,934","220,719","249,583","264,689","275,585","300,207","327,046","356,089",...,"47,354","37,054","27,964","22,769","16,916","12,154","8,109","5,114","3,252","7,214"
1,서울특별시 (1100000000),"9,384,739","9,384,739","36,904","40,232","42,550","43,198","46,125","49,533","53,402",...,"6,555","5,233","3,976","3,343","2,545","1,850","1,270",731,534,"1,154"

### 남자 연령대별 인구 현황을 데이터프레임으로 생성하기

#### 데이터프레임 생성하기
   - 남자 연령대별 인구수 컬럼 가져오기

In [20]:
# 전체 칼럼 인덱스의 리스트에서 '남'이 포함된 인덱스의 번호를 가지고 슬라이싱
df_m_index = [i for i in range(len(df.columns)) if "남" in df.columns[i]]

In [21]:
df_m = df.iloc[:, df_m_index]
df_m.head()

,남_총인구수,남_연령구간인구수,남_0세,남_1세,남_2세,남_3세,남_4세,남_5세,남_6세,남_7세,...,남_91세,남_92세,남_93세,남_94세,남_95세,남_96세,남_97세,남_98세,남_99세,남_100세 이상
0,"25,547,370","25,547,370","113,031","127,848","135,377","141,194","153,990","167,862","183,101","204,642",...,"15,772","11,160","7,467","5,858","4,112","2,740","1,647",917,659,"1,542"
1,"4,536,128","4,536,128","19,008","20,429","21,977","22,073","23,946","25,776","27,218","30,713",...,"2,681","1,889","1,320","1,088",813,524,323,164,119,346
2,"1,601,773","1,601,773","6,239","7,245","7,729","7,973","8,790","9,597","11,031","12,059",...,876,654,396,333,223,150,84,41,28,67
3,"1,163,911","1,163,911","4,735","5,373","5,842","6,151","7,032","7,684","8,481","9,738",...,769,515,279,201,140,109,53,28,24,35
4,"1,502,956","1,502,956","7,091","8,102","8,440","8,862","9,697","10,432","11,077","12,241",...,709,488,362,263,216,134,96,38,39,100

#### 데이터 타입 변경하기
- 문자열을 정수형으로 변경하기

In [25]:
df_m.dtypes

남_총인구수       object
남_연령구간인구수    object
남_0세         object
남_1세         object
남_2세         object
              ...
남_96세        object
남_97세        object
남_98세         int64
남_99세         int64
남_100세 이상    object
Length: 103, dtype: object

In [27]:
df_m = df_m.astype(int)

ValueError: invalid literal for int() with base 10: '25,547,370'

In [ ]:
from pandas.core.dtypes.api import is_numeric_dtype

def s(st):
  if is_numeric_dtype(st):
    return st

  else:
    return st.replace(',', '')

df_m.iloc[0].apply(s).astype(int)

In [ ]:
# 문자열을 정수로 변경하기
df_m.iloc[0] =
df_m.head()

In [ ]:
df_m.head(1)

### 여자 연령대별 인구 현황을 데이터프레임으로 생성하기

#### 데이터프레임 생성하기
   - 여자 연령대별 인구수 컬럼 가져오기

In [24]:
# 전체 칼럼 인덱스의 리스트에서 '여'가 포함된 인덱스의 번호를 가지고 슬라이싱
df_w_index = [i for i in range(len(df.columns)) if "여" in df.columns[i]]
df_w = df.iloc[:, df_w_index]
df_w.head()

,여_총인구수,여_연령구간인구수,여_0세,여_1세,여_2세,여_3세,여_4세,여_5세,여_6세,여_7세,...,여_91세,여_92세,여_93세,여_94세,여_95세,여_96세,여_97세,여_98세,여_99세,여_100세 이상
0,"25,746,564","25,746,564","107,688","121,735","129,312","134,391","146,217","159,184","172,988","194,962",...,"47,354","37,054","27,964","22,769","16,916","12,154","8,109","5,114","3,252","7,214"
1,"4,848,611","4,848,611","17,896","19,803","20,573","21,125","22,179","23,757","26,184","29,376",...,"6,555","5,233","3,976","3,343","2,545","1,850","1,270",731,534,"1,154"
2,"1,685,519","1,685,519","5,910","6,823","7,345","7,465","8,372","9,387","10,222","11,699",...,"2,717","2,210","1,463","1,256","1,014",803,447,319,178,375
3,"1,206,051","1,206,051","4,435","5,122","5,622","5,725","6,586","7,192","8,186","9,208",...,"2,028","1,605","1,194",886,659,468,305,180,103,232
4,"1,503,089","1,503,089","6,628","7,785","8,121","8,418","8,995","9,940","10,228","11,837",...,"2,357","1,807","1,481","1,121",912,612,440,305,203,387

#### 컬럼명 변경하기

In [ ]:
df_w.columns =
df_w.head()

In [ ]:
df_w.dtypes

#### 데이터 타입 변경하기
- 문자열을 정수형으로 변경하기

In [ ]:
df_w.iloc[0]=
df_w.head(1)

## 데이터 시각화

### 연령대별 인구 현황
- 가로 막대 그래프

In [ ]:
df_m.columns

In [ ]:
plt.figure(figsize=(15, 10))
plt.barh(df_m.columns, -df_m.iloc[0]//1000) #천 단위
plt.barh(df_w.columns, df_w.iloc[0]//1000)

plt.yticks(np.arange(0, 110, 10))

plt.title('2024 대한민국 인구 피라미드')
plt.savefig('2024_인구피라미드.png', dpi=100)
plt.show()